<div class="row row-deck row-cards">
  <div class="col-sm-6 col-lg-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="subheader">Total Usuarios</div>
        </div>
        <div class="h1">{{ totalGeneral.totalUsuarios }}</div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="subheader">Total Programas Sociales</div>
        </div>
        <div class="h1">{{ totalGeneral.totalProgramasSociales }}</div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="subheader">Total Beneficiarios</div>
        </div>
        <div class="h1">{{ totalGeneral.totalBeneficiarios }}</div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="subheader">Total Visitas</div>
        </div>
        <div class="h1">{{ totalGeneral.totalVisitas }}</div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div
        id="container-beneficiarios-por-programa-social"
        style="height: 400px"
      ></div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div
        id="container-visitas-por-programa-social"
        style="height: 400px"
      ></div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="card">
      <div
        id="container-beneficiarios-por-municipio"
        style="height: 600px"
      ></div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="card">
      <div
        id="container-nube-palabras"
        style="height: 400px"
      ></div>
    </div>
  </div>
</div>
