<div class="row row-deck row-cards justify-content-center">
  <div class="col-6 col-md-4 col-lg-2">
    <div class="card mb-0 mx-auto">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="subheader">Total Usuarios</div>
        </div>
        <div class="h1">{{ totalGeneral.totalUsuarios }}</div>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-2">
    <div class="card mb-0 mx-auto">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="subheader">Total Operadores</div>
        </div>
        <div class="h1">{{ totalGeneral.totalOperadores }}</div>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-2">
    <div class="card mb-0 mx-auto">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="subheader">Total Promovidos</div>
        </div>
        <div class="h1">{{ totalGeneral.totalSimpatizantes }}</div>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-2">
    <div class="card mb-0 mx-auto">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="subheader">Total Candidatos</div>
        </div>
        <div class="h1">{{ totalGeneral.totalCandidatos }}</div>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-2">
    <div class="card mb-0 mx-auto">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="subheader">Total Visitas</div>
        </div>
        <div class="h1">{{ totalGeneral.totalVisitas }}</div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div id="container-simpatizantes-por-genero" style="height: 400px"></div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div id="container-simpatizantes-por-programa-social" style="height: 400px"></div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="card">
      <div id="container-simpatizantes-por-edad" style="height: 600px"></div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="card">
      <div id="container-nube-palabras" style="height: 400px"></div>
    </div>
  </div>
</div>