<ngx-spinner bdColor="rgba(0,0,0,0.41)" size="large" color="#ffffff" type="ball-scale-multiple" [fullScreen]="true">
    <p style="color: white">Guardando...</p>
</ngx-spinner>

<app-page-header headerTitle="Seguimiento al voto"></app-page-header>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body border-bottom py-3">
                <div class="d-flex align-items-center">

                    <button 
                      class="btn btn-primary me-2" 
                      data-bs-toggle="modal" 
                      data-bs-target="#modal-seguimiento" 
                      (click)="handleChangeAdd()">
                      <i class="ti ti-plus me-1"></i>Agregar
                    </button>

                    <div class="ms-auto d-flex align-items-center">
                        <div class="input-icon">
                            <input 
                            #searchItem 
                            type="text" 
                            class="form-control form-control-rounded" 
                            placeholder="Buscar"
                            (input)="handleChangeSearch($event)" 
                            />
                            <span class="input-icon-addon">
                              <i class="ti ti-search"></i>
                            </span>
                        </div>
                        <a 
                          class="btn w-30 btn-icon" 
                          aria-label="Dribbble" 
                          (click)="exportarDatosAExcel()"
                          title="Descargar excel de los Votos" 
                          style="margin-left: 8px; padding-top: 4px; padding-bottom: 4px">
                            <i class="ti ti-cloud-down text-muted" style="font-size: 28px"></i>
                        </a>
                    </div>
                </div>
            </div>



            <ng-container [ngSwitch]="isLoading">
                <div style="height: 300px" *ngSwitchCase="2">
                    <div class="progress">
                        <div class="progress-bar progress-bar-indeterminate bg-green"></div>
                    </div>
                </div>


                <div *ngSwitchCase="3" class="table-responsive">
                  <table class="table table-vcenter card-table table-striped">
                    <thead>
                      <tr>
                        <th
                          style="text-transform: none; font-size: inherit"
                          class="text-center"
                        >
                          #
                        </th>
                        <th style="text-transform: none; font-size: inherit">
                          Nombre completo
                        </th>
                        <th style="text-transform: none; font-size: inherit">Voto</th>
                        <th style="text-transform: none; font-size: inherit">Fecha</th>
                        <th
                          style="text-transform: none; font-size: inherit"
                          class="text-center"
                        >
                          Foto
                        </th>
                        <th
                          style="text-transform: none; font-size: inherit"
                          class="w-1"
                        >
                          Acciones
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      
                      <tr
                      *ngFor="
                        let usuario of votosFilter | paginate : configPaginator;
                        let pointIndex = index
                      "
                    >
                      <td class="text-center">
                        {{
                          configPaginator.itemsPerPage *
                            (configPaginator.currentPage - 1) +
                            pointIndex +
                            1
                        }}
                      </td>
                      <td>{{ usuario?.simpatizante?.nombreCompleto }}</td>
                      <td class="text-start">
                        <ng-container *ngIf="usuario.estatusVoto; else elseEstatus">
                          <span class="badge bg-success me-1"> </span> Voto
                        </ng-container>
                        <ng-template #elseEstatus>
                          <span class="badge bg-warning me-1"></span> No voto
                        </ng-template>
                      </td>
                      <td class="text-muted">{{ usuario.fechaHoraVot | date:'dd/MM/yyyy' }}</td>
                      <!-- <td class="text-muted">2024-02-01</td> -->
                      <td class="text-muted text-center">
                        <div class="flex justify-center items-center">
                          <img
                            src="{{usuario.foto}}"
                            alt="Foto de {{ usuario.foto }}"
                            width="50"
                            height="50"
                            
                          />
                        </div>
                      </td>


                      <td>
                        <div class="d-flex justify-content-between">

                          <button 
                            class="btn btn-warning btn-icon btn-sm" 
                            data-bs-toggle="modal"
                            data-bs-target="#modal-seguimiento" 
                            (click)="setDataModalUpdate(usuario);"
                            >
                              <i class="ti ti-edit"></i>
                          </button>

                          <button 
                            class="btn btn-danger btn-icon btn-sm"
                            (click)="deleteItem(usuario.id, usuario.simpatizante.nombreCompleto)">
                              <i class="ti ti-eraser"></i>
                          </button>
                        </div>
                      </td>
                    </tr>
    
    
                    </tbody>
                  </table>
                </div>


                <app-no-results *ngSwitchCase="4"></app-no-results>

            </ng-container>
            <!-- Fin *ngSwitchCase-->

            <div class="card-footer d-flex align-items-center">
                <p class="m-0 text-muted">
                  Total de registros: <b>{{ votosFilter.length }}</b>
                </p>
                <div class="m-0 ms-auto">
                    <pagination-controls 
                      (pageChange)="onPageChange($event)" 
                      previousLabel="" 
                      nextLabel="">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-blur fade" id="modal-seguimiento" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {{ isModalAdd ? 'Agregar' : 'Actualizar' }} voto
                </h5>
                <button 
                  #closebutton 
                  type="button" 
                  class="btn-close"
                  data-bs-dismiss="modal" 
                  aria-label="Close">
                </button>
            </div>

            <form [formGroup]="seguimientoForm" (ngSubmit)="submit()">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label">Nombre del promovido:</label>
                                <ng-select 
                                  formControlName="simpatizante" 
                                  #selectSimpatizante 
                                  [searchable]="false" 
                                  [items]="simpatizantes" 
                                  bindLabel="nombreCompleto" 
                                  bindValue="id" 
                                  placeholder="Elegir" 
                                  [clearable]="false" 
                                  >
                                    <ng-template ng-header-tmp>
                                        <input 
                                          class="form-control" 
                                          type="text" 
                                          (input)="selectSimpatizante.filter($any($event.target).value)" 
                                          />
                                    </ng-template>
                                    <ng-template ng-option-tmp let-item="item" let-index="index">
                                        {{ item.nombreCompleto }}
                                    </ng-template>
                                </ng-select>
                                <div *ngIf="seguimientoForm.get('simpatizante')?.touched" class="error-message">
                                    <div *ngIf="seguimientoForm.get('simpatizante')?.hasError('required')">
                                        El nombre del votante es obligatorio
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="mb-3 custom-green-switch">
                                <label for="estadoActivo" class="form-label">¿Voto?*:</label>
                                <label class="form-check form-switch checkbox-verde">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  formControlName="estatusVoto"
                                />
                                <span
                                  class="form-check-label"
                                  [ngClass]="
                                    seguimientoForm.get('estatusVoto')?.value
                                      ? 'text-success'
                                      : 'text-danger' ">
                                  {{
                                    seguimientoForm.get("estatusVoto")?.value
                                      ? "Si"
                                      : "No"
                                  }}
                                </span>
                              </label>
                            </div>
                        </div>

                        <div style=" padding-top: 25px;" class="col-8">
                            <div class="mb-3">
                                <div class="form-label">Selecciona una fotografía*</div>
                                <input class="input" type="file" (change)="onFileChange($event)" formControlName="imagenBase64" />

                                <div *ngIf="isUpdatingImg" class="img-preview my-1">
                                  <img
                                    [src]="imgPreview"
                                    alt="Image preview"
                                    class="img-fluid"
                                  />
                                </div>

                                <div class="col-lg-12">
                                  <div class="mb-3">
                                      <img 
                                        class="img" 
                                        *ngIf="seguimientoForm.get('imagenBase64')?.value" 
                                        [src]="'data:image/jpeg;base64,' + seguimientoForm.get('imagenBase64')?.value" 
                                        width="100%" 
                                        height="100%" 
                                        alt="Vista previa de la imagen" />
                                  </div>
                              </div>
                            </div>
                    
                        </div>


                    </div>
                </div>

                <p class="form-label" style="margin-left: 20px; color: red; font-weight: bold">
                    Todos los campos marcados con * son requeridos
                </p>

                <div class="modal-footer">
                    <button 
                      type="submit" 
                      class="btn btn-success"
                      [disabled]="!seguimientoForm.valid"
                      >
                      {{ isModalAdd ? 'Agregar' : 'Actualizar' }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
