<ngx-spinner
  bdColor="rgba(0,0,0,0.41)"
  size="large"
  color="#ffffff"
  type="ball-scale-multiple"
  [fullScreen]="true"
>
  <p style="color: white">Guardando...</p>
</ngx-spinner>

<app-page-header headerTitle="Operadores"></app-page-header>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body border-bottom py-3">
        <div class="d-flex align-items-center">
          <button
            class="btn btn-primary me-2"
            data-bs-toggle="modal"
            data-bs-target="#modal-usuario"
            (click)="handleChangeAdd()"
          >
            <i class="ti ti-plus me-1"></i>Agregar
          </button>
          <div class="ms-auto d-flex align-items-center">
            <div class="input-icon">
              <input
                #searchItem
                type="text"
                class="form-control form-control-rounded"
                placeholder="Buscar"
                (input)="handleChangeSearch($event)"
              />
              <span class="input-icon-addon">
                <i class="ti ti-search"></i>
              </span>
            </div>
            <a
              class="btn w-30 btn-icon"
              aria-label="Dribbble"
              (click)="exportarDatosAExcel()"
              title="Descargar excel de operadores"
              style="margin-left: 8px; padding-top: 4px; padding-bottom: 4px"
            >
              <i
                class="ti ti-cloud-down text-muted"
                style="font-size: 28px"
              ></i>
            </a>
          </div>
        </div>
      </div>

      <ng-container [ngSwitch]="isLoading">
        <div style="height: 300px" *ngSwitchCase="2">
          <div class="progress">
            <div class="progress-bar progress-bar-indeterminate bg-green"></div>
          </div>
        </div>

        <div *ngSwitchCase="3" class="table-responsive">
          <table class="table table-vcenter card-table table-striped">
            <thead>
              <tr>
                <th
                  style="text-transform: none; font-size: inherit"
                  class="text-center"
                >
                  #
                </th>
                <th style="text-transform: none; font-size: inherit">
                  Nombre completo
                </th>
                <th style="text-transform: none; font-size: inherit">Edad</th>
                <th
                  style="text-transform: none; font-size: inherit"
                  class="text-center"
                >
                  Estatus
                </th>
                <th
                  style="text-transform: none; font-size: inherit"
                  class="w-1"
                >
                  Acciones
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let operador of operadorFilter | paginate : configPaginator;
                  let pointIndex = index
                "
              >
                <td class="text-center">
                  {{
                    configPaginator.itemsPerPage *
                      (configPaginator.currentPage - 1) +
                      pointIndex +
                      1
                  }}
                </td>
                <td>
                  {{ operador.nombres }} {{ operador.apellidoPaterno }}
                  {{ operador.apellidoMaterno }}
                </td>
                <td class="text-muted">{{ operador.edad }} años</td>
                <td class="text-center">
                  <ng-container *ngIf="operador.estatus; else elseEstatus">
                    <span class="badge bg-success me-1"> </span> Activo
                  </ng-container>
                  <ng-template #elseEstatus>
                    <span class="badge bg-warning me-1"></span> Inactivo
                  </ng-template>
                </td>
                <td>
                  <div class="d-flex justify-content-between">
                    <button
                      alt="Ver secciones asociadas al operador"
                      style="margin-right: 10px"
                      class="btn btn-primary btn-icon btn-sm"
                      data-bs-toggle="modal"
                      (click)="verSeccionesOperador(operador.id)"
                    >
                      <i class="ti ti-eye"></i>
                    </button>
                    <button
                      alt="Ver promovidos asociados al operador"
                      style="margin-right: 10px"
                      class="btn btn-secondary btn-icon btn-sm"
                      data-bs-toggle="modal"
                      (click)="mostrarSimpatizantesAsociadosModal(operador.id)"
                    >
                      <i class="ti ti-list"></i>
                    </button>
                    <button
                      style="margin-right: 10px"
                      class="btn btn-warning btn-icon btn-sm"
                      data-bs-toggle="modal"
                      data-bs-target="#modal-usuario"
                      (click)="setDataModalUpdate(operador)"
                    >
                      <i class="ti ti-edit"></i>
                    </button>
                    <button
                      class="btn btn-danger btn-icon btn-sm"
                      (click)="deleteItem(operador.id, operador.nombres)"
                    >
                      <i class="ti ti-eraser"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <app-no-results *ngSwitchCase="4"></app-no-results>
      </ng-container>
      <!-- Fin *ngSwitchCase-->

      <div class="card-footer d-flex align-items-center">
        <p class="m-0 text-muted">
          Total de registros: <b>{{ operadorFilter.length }}</b>
        </p>
        <div class="m-0 ms-auto">
          <pagination-controls
            (pageChange)="onPageChange($event)"
            previousLabel=""
            nextLabel=""
          >
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal modal-blur fade"
  id="modal-usuario"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{ isModalAdd ? "Agregar" : "Actualizar" }} operador
        </h5>
        <button
          #closebutton
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <form [formGroup]="operadorForm" (ngSubmit)="submit()">
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="mb-3">
                <label class="form-label">Candidato*:</label>
                <ng-select
                  formControlName="candidatoId"
                  [readonly]="readonlySelectCandidato"
                  #selectCandidato
                  [searchable]="false"
                  [items]="candidatos"
                  bindLabel="nombreCompleto"
                  bindValue="id"
                  placeholder="Elegir"
                  [clearable]="false"
                >
                  <ng-template ng-header-tmp>
                    <input
                      class="form-control"
                      type="text"
                      (input)="
                        selectCandidato.filter($any($event.target).value)
                      "
                    />
                  </ng-template>
                  <ng-template ng-option-tmp let-item="item" let-index="index">
                    {{ item.nombreCompleto }}
                  </ng-template>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="mb-3">
                <label class="form-label">Nombres*:</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="nombres"
                />
                <div
                  *ngIf="operadorForm.get('nombres')?.touched"
                  class="error-message"
                >
                  <div
                    *ngIf="operadorForm.get('nombres')?.hasError('required')"
                  >
                    <p style="color: red">El nombre es obligatorio</p>
                  </div>
                  <div
                    *ngIf="operadorForm.get('nombres')?.hasError('minlength')"
                  >
                    El nombre debe tener al menos 3 caracteres
                  </div>
                  <div *ngIf="operadorForm.get('nombres')?.hasError('pattern')">
                    El nombre no puede tener números ni signos
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="mb-3">
                <label class="form-label">Apellido paterno*:</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="apellidoPaterno"
                />
                <div
                  *ngIf="operadorForm.get('apellidoPaterno')?.touched"
                  class="error-message"
                >
                  <div
                    *ngIf="
                      operadorForm.get('apellidoPaterno')?.hasError('required')
                    "
                  >
                    <p style="color: red">El apellido paterno es obligatorio</p>
                  </div>
                  <div
                    *ngIf="
                      operadorForm.get('apellidoPaterno')?.hasError('minlength')
                    "
                  >
                    El apellido paterno debe tener al menos 3 caracteres
                  </div>
                  <div
                    *ngIf="
                      operadorForm.get('apellidoPaterno')?.hasError('pattern')
                    "
                  >
                    El apellido paterno no puede tener números ni signos
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="mb-3">
                <label class="form-label">Apellido materno*:</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="apellidoMaterno"
                />
                <div
                  *ngIf="operadorForm.get('apellidoMaterno')?.touched"
                  class="error-message"
                >
                  <div
                    *ngIf="
                      operadorForm.get('apellidoMaterno')?.hasError('required')
                    "
                  >
                    <p style="color: red">El apellido materno es obligatorio</p>
                  </div>
                  <div
                    *ngIf="
                      operadorForm.get('apellidoMaterno')?.hasError('minlength')
                    "
                  >
                    El apellido materno debe tener al menos 3 caracteres
                  </div>
                  <div
                    *ngIf="
                      operadorForm.get('apellidoMaterno')?.hasError('pattern')
                    "
                  >
                    El apellido materno no puede tener números ni signos
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="mb-3">
                <label class="form-label">Fecha nacimiento*:</label>
                <input
                  type="date"
                  class="form-control"
                  formControlName="fechaNacimiento"
                />
                <div
                  *ngIf="operadorForm.get('fechaNacimiento')?.touched"
                  class="error-message"
                >
                  <div
                    *ngIf="
                      operadorForm.get('fechaNacimiento')?.hasError('required')
                    "
                  >
                    La fecha de nacimiento es obligatoria
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="mb-3 custom-green-switch">
                <label for="estadoActivo" class="form-label">Estatus</label>
                <label class="form-check form-switch checkbox-verde">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    formControlName="estatus"
                  />
                  <span
                    class="form-check-label"
                    [ngClass]="
                      operadorForm.get('estatus')?.value
                        ? 'text-success'
                        : 'text-danger'
                    "
                  >
                    {{
                      operadorForm.get("estatus")?.value ? "Activo" : "Inactivo"
                    }}
                  </span>
                </label>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="mb-3">
                <label class="form-label"
                  >Secciones electorales a operar*:</label
                >
                <ng-select
                  #selectSecciones
                  [items]="seccionesRegistradas"
                  [searchable]="false"
                  [multiple]="true"
                  [closeOnSelect]="false"
                  [hideSelected]="true"
                  bindValue="id"
                  bindLabel="claveYNombre"
                  placeholder="Seleccionar"
                  formControlName="seccionesIds"
                >
                  <ng-template ng-header-tmp>
                    <input
                      class="form-control"
                      type="text"
                      (input)="
                        selectSecciones.filter($any($event.target).value)
                      "
                    />
                    <div (click)="seleccionarTodo()">Seleccionar todo</div>
                  </ng-template>
                  <ng-template ng-option-tmp let-item="item" let-index="index">
                    {{ item.claveYNombre }}
                  </ng-template>
                </ng-select>
              </div>
            </div>
            <div
              *ngIf="operadorForm.get('seccionesIds')?.touched"
              class="error-message"
            >
              <div
                *ngIf="operadorForm.get('seccionesIds')?.hasError('required')"
              >
                La secciones son obligatorias
              </div>
            </div>
          </div>
        </div>

        <p
          class="form-label"
          style="margin-left: 20px; color: red; font-weight: bold"
        >
          Todos los campos marcados con * son requeridos
        </p>
        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!operadorForm.valid"
          >
            {{ isModalAdd ? "Agregar" : "Actualizar" }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="modal modal-highlight"
  id="modal-imagen-ampliada"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  style="background: rgba(0, 0, 0, 0.5)"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Secciones asociadas al operador
        </h5>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="cerrarModal()"
        ></button>
      </div>
      <div class="modal-body">
        <div class="col-md-6 col-lg-12">
          <div class="row d-flex justify-content-end mt-0 mb-3">
            <div class="col-12 col-md-6 input-icon">
              <input
                #searchItem
                type="text"
                class="form-control form-control-rounded"
                placeholder="Buscar"
                [(ngModel)]="initialValueModalSearchSecciones"
                (input)="handleChangeSearchModalSeccionesAsociadas($event)"
              />
              <span class="input-icon-addon me-2">
                <i class="ti ti-search"></i>
              </span>
            </div>
          </div>

          <ng-container [ngSwitch]="isLoadingModalSeccionesOperador">
            <div style="height: 300px" *ngSwitchCase="2">
              <div class="progress">
                <div
                  class="progress-bar progress-bar-indeterminate bg-green"
                ></div>
              </div>
            </div>

            <div *ngSwitchCase="3" class="card">
              <table class="table table-vcenter card-table table-striped">
                <thead>
                  <tr>
                    <th style="text-transform: none; font-size: inherit">
                      Seccion
                    </th>
                    <th style="text-transform: none; font-size: inherit">
                      Municipio
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let seccion of seccionesOperador
                        | paginate
                          : {
                              itemsPerPage: 10,
                              currentPage: pagModalSecciones,
                              id: 'modal-secciones'
                            }
                    "
                  >
                    <td>
                      {{ seccion.claveYNombre }}
                    </td>
                    <td>
                      {{ seccion.municipio.nombre }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <app-no-results *ngSwitchCase="4"></app-no-results>
          </ng-container>

          <br />

          <div class="card-footer d-flex align-items-center">
            <p class="m-0 text-muted">
              Total de registros: <b>{{ seccionesOperador.length }}</b>
            </p>

            <div class="m-0 ms-auto">
              <pagination-controls
                id="modal-secciones"
                (pageChange)="pagModalSecciones = $event"
                previousLabel=""
                nextLabel=""
              >
              </pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal modal-highlight"
  id="modal-simpatizantes"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  style="background: rgba(0, 0, 0, 0.5)"
>
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Promovidos asociados al operador
        </h5>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="cerrarModal2()"
        ></button>
      </div>

      <div class="modal-body">
        <div class="col-md-6 col-lg-12">
          <div class="row d-flex justify-content-end mt-0 mb-3">
            <div class="ms-auto d-flex align-items-end">
              <div class="input-icon">
                <input
                  #searchItem
                  type="text"
                  class="form-control form-control-rounded"
                  placeholder="Buscar"
                  [(ngModel)]="initialValueModalSearchPromovidos"
                  (input)="
                    handleChangeSearchModalSimpatizantesAsociados($event)
                  "
                />
                <span class="input-icon-addon">
                  <i class="ti ti-search"></i>
                </span>
              </div>
              <a
                class="btn w-30 btn-icon"
                aria-label="Dribbble"
                (click)="exportarDatosAExcelSimpatizantesAsociados()"
                title="Descargar datos de promovidos asociados al operador"
                style="margin-left: 8px; padding-top: 4px; padding-bottom: 4px"
              >
                <i
                  class="ti ti-cloud-down text-muted"
                  style="font-size: 28px"
                ></i>
              </a>
            </div>
          </div>

          <ng-container [ngSwitch]="isLoadingModalPromovidosOperador">
            <div style="height: 300px" *ngSwitchCase="2">
              <div class="progress">
                <div
                  class="progress-bar progress-bar-indeterminate bg-green"
                ></div>
              </div>
            </div>

            <div *ngSwitchCase="3" class="card">
              <table class="table table-vcenter card-table table-striped">
                <thead>
                  <tr>
                    <th style="text-transform: none; font-size: inherit">
                      Nombre completo
                    </th>
                    <th style="text-transform: none; font-size: inherit">
                      Domicilio
                    </th>
                    <th style="text-transform: none; font-size: inherit">
                      Genero
                    </th>
                    <th style="text-transform: none; font-size: inherit">
                      Programa social
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let simpatizante of simpatizantesOperador
                        | paginate
                          : {
                              itemsPerPage: 10,
                              currentPage: pagModalPromovidos,
                              id: 'modal-promovidos'
                            }
                    "
                  >
                    <td>{{ simpatizante.nombreCompleto }}</td>
                    <td>{{ simpatizante.domicilio }}</td>
                    <td>{{ simpatizante.genero.nombre }}</td>
                    <td>{{ simpatizante.programaSocial?.nombre }}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <app-no-results *ngSwitchCase="4"></app-no-results>
          </ng-container>

          <br />

          <div class="card-footer d-flex align-items-center">
            <p
              *ngIf="sinSimpatizantes; else conRegistros"
              class="m-0 text-muted"
            >
              Total de registros: <b>0</b>
            </p>
            <ng-template #conRegistros>
              <p class="m-0 mt-4 text-muted">
                Total de registros: <b>{{ simpatizantesOperador.length }}</b>
              </p>

              <div class="m-0 ms-auto">
                <pagination-controls
                  id="modal-promovidos"
                  (pageChange)="pagModalPromovidos = $event"
                  previousLabel=""
                  nextLabel=""
                >
                </pagination-controls>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
