<ngx-spinner
  bdColor="rgba(0,0,0,0.41)"
  size="large"
  color="#ffffff"
  type="ball-scale-multiple"
  [fullScreen]="true"
>
  <p style="color: white">Guardando...</p>
</ngx-spinner>

<app-page-header headerTitle="Resultados pre-eliminares"></app-page-header>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body border-bottom py-3">
        <div class="d-flex align-items-center">
          <button
            class="btn btn-primary me-2"
            data-bs-toggle="modal"
            data-bs-target="#modal-resultados"
            (click)="handleChangeAdd()"
          >
            <i class="ti ti-plus me-1"></i>Agregar
          </button>
          <div class="ms-auto d-flex align-items-center">
            <div class="input-icon">
              <input
                #searchItem
                type="text"
                class="form-control form-control-rounded"
                placeholder="Buscar"
                (input)="handleChangeSearch($event)"
              />
              <span class="input-icon-addon">
                <i class="ti ti-search"></i>
              </span>
            </div>
            <a
              class="btn w-30 btn-icon"
              aria-label="Dribbble"
              (click)="exportarDatosAExcel()"
              title="Descargar excel de incidencias"
              style="margin-left: 8px; padding-top: 4px; padding-bottom: 4px"
            >
              <i
                class="ti ti-cloud-down text-muted"
                style="font-size: 28px"
              ></i>
            </a>
          </div>
        </div>
      </div>
      <ng-container [ngSwitch]="isLoading">
        <div style="height: 300px" *ngSwitchCase="2">
          <div class="progress">
            <div class="progress-bar progress-bar-indeterminate bg-green"></div>
          </div>
        </div>
        <div *ngSwitchCase="3" class="table-responsive">
          <table class="table table-vcenter card-table table-striped">
            <thead>
              <tr>
                <th class="text-center">#</th>
                <th style="text-transform: none; font-size: inherit">
                  Tipo de elecion
                </th>
                <th style="text-transform: none; font-size: inherit">
                  Seccion
                </th>
                <th style="text-transform: none; font-size: inherit">
                  Casilla
                </th>
                <th style="text-transform: none; font-size: inherit">
                  Distrito
                </th>
                <th style="text-transform: none; font-size: inherit">
                  Resultado
                </th>
                <th style="text-transform: none; font-size: inherit">
                  Acciones
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let resultados of resultadosFilter
                    | paginate : configPaginator;
                  let pointIndex = index
                "
              >
                <td class="text-center">
                  {{
                    configPaginator.itemsPerPage *
                      (configPaginator.currentPage - 1) +
                      pointIndex +
                      1
                  }}
                </td>
                <td class="text-muted">
                  {{ resultados.tipoEleccion.nombre }}
                </td>
                <td class="text-muted">
                  {{ resultados.seccion.claveYNombre }}
                </td>
                <td class="text-muted">
                  {{ resultados.casilla.nombre }}
                </td>
                <td class="text-muted">
                  {{ resultados.distrito.nombre }}
                </td>
                <td class="text-muted">
                  {{ resultados.suma }}
                </td>
                <td style="width: 50px">
                  <div>
                    <button
                      class="btn btn-warning btn-icon btn-sm"
                      data-bs-toggle="modal"
                      data-bs-target="#modal-resultados"
                      style="margin-right: 5px"
                      (click)="setDataModalUpdate(resultados)"
                    >
                      <i class="ti ti-edit"></i>
                    </button>
                    <button
                      class="btn btn-danger btn-icon btn-sm"
                      (click)="deleteItem(resultados.id)"
                    >
                      <i class="ti ti-eraser"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <app-no-results *ngSwitchCase="4"></app-no-results>
      </ng-container>
      <!-- Fin *ngSwitchCase-->

      <div class="card-footer d-flex align-items-center">
        <p class="m-0 text-muted">Total de registros: <b>1</b></p>
        <div class="m-0 ms-auto">
          <pagination-controls
            (pageChange)="onPageChange($event)"
            previousLabel=""
            nextLabel=""
          >
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal modal-blur fade"
  id="modal-resultados"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Resultados pre-eliminares</h5>
        <button
          #closebutton
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <form [formGroup]="resultadosForm" (ngSubmit)="submit()">
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-6">
              <label class="form-label">Tipo de elección*:</label>
              <ng-select
                formControlName="tipoEleccion"
                #selectEstado
                [searchable]="false"
                [items]="tiposEleccion"
                bindLabel="nombre"
                bindValue="id"
                (change)="onSelectTipoE($event?.id)"
                placeholder="Selecciona una opción"
                [clearable]="false"
                value=""
              >
                <ng-template ng-header-tmp>
                  <input
                    class="form-control"
                    type="text"
                    value=""
                    (input)="selectEstado.filter($any($event.target).value)"
                  />
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-index="index">
                  {{ item.nombre }}
                </ng-template>
              </ng-select>

              <div
                *ngIf="resultadosForm.get('tipoEleccion')?.touched"
                class="error-message"
              >
                <div
                  *ngIf="
                    resultadosForm.get('tipoEleccion')?.hasError('required')
                  "
                >
                  <p style="color: red">El tipo de elección es obligatorio</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div
                *ngIf="
                  resultadosForm.controls['tipoEleccion'].value == 1 ||
                  resultadosForm.controls['tipoEleccion'].value == 2 ||
                  resultadosForm.controls['tipoEleccion'].value == 3
                "
              >
                <div class="mb-3">
                  <label class="form-label">Estado:</label>
                  <ng-select
                    formControlName="estado"
                    #selectEstado
                    [searchable]="false"
                    [items]="estados"
                    bindLabel="nombre"
                    bindValue="id"
                    placeholder="Selecciona una opción"
                    [clearable]="false"
                    value=""
                    (change)="
                      onSelectestado($event?.id);
                      verPartidosDistribucion($event?.id)
                    "
                  >
                    <ng-template ng-header-tmp>
                      <input
                        class="form-control"
                        type="text"
                        value="29"
                        (input)="selectEstado.filter($any($event.target).value)"
                      />
                    </ng-template>
                    <ng-template
                      ng-option-tmp
                      let-item="item"
                      let-index="index"
                    >
                      {{ item.nombre }}
                    </ng-template>
                  </ng-select>
                </div>
              </div>

              <div *ngIf="resultadosForm.controls['tipoEleccion'].value == 4">
                <div class="mb-3">
                  <label class="form-label">Distrito:</label>
                  <ng-select
                    formControlName="distrito"
                    #selectDistrito
                    [searchable]="false"
                    [items]="distritos"
                    bindLabel="nombre"
                    bindValue="id"
                    (change)="
                      onSelectdistrito($event?.id);
                      verPartidosDistribucion($event?.id)
                    "
                    placeholder="Selecciona una opción"
                    [clearable]="false"
                    value=""
                  >
                    <ng-template ng-header-tmp>
                      <input
                        class="form-control"
                        type="text"
                        value=""
                        (input)="
                          selectDistrito.filter($any($event.target).value)
                        "
                      />
                    </ng-template>
                    <ng-template
                      ng-option-tmp
                      let-item="item"
                      let-index="index"
                    >
                      {{ item.nombre }}
                    </ng-template>
                  </ng-select>
                </div>
              </div>

              <div *ngIf="resultadosForm.controls['tipoEleccion'].value == 5">
                <div class="mb-3">
                  <label class="form-label">Municipio:</label>
                  <ng-select
                    formControlName="municipio"
                    #selectMunicipio
                    [searchable]="false"
                    [items]="municipios"
                    bindLabel="nombre"
                    bindValue="id"
                    (change)="
                      onSelectmunicipios($event?.id);
                      verPartidosDistribucion($event?.id)
                    "
                    placeholder="Selecciona una opción"
                    [clearable]="false"
                    [clearable]="false"
                  >
                    <ng-template ng-header-tmp>
                      <input
                        class="form-control color"
                        type="text"
                        value=""
                        (input)="
                          selectMunicipio.filter($any($event.target).value)
                        "
                      />
                    </ng-template>
                    <ng-template
                      ng-option-tmp
                      let-item="item"
                      let-index="index"
                    >
                      {{ item.nombre }}
                    </ng-template>
                  </ng-select>
                </div>
              </div>

              <div *ngIf="resultadosForm.controls['tipoEleccion'].value == 6">
                <div class="mb-3">
                  <label class="form-label">Comunidad:</label>
                  <ng-select
                    formControlName="comunidad"
                    #selectComunidad
                    [searchable]="false"
                    [items]="comunidades"
                    bindLabel="nombre"
                    bindValue="id"
                    (change)="onSelectComunidades($event?.id)"
                    placeholder="Selecciona una comunidad"
                    [clearable]="false"
                    value=""
                    [clearable]="false"
                  >
                    <ng-template ng-header-tmp>
                      <input
                        class="form-control color"
                        type="text"
                        value=""
                        (input)="
                          selectComunidad.filter($any($event.target).value)
                        "
                      />
                    </ng-template>
                    <ng-template
                      ng-option-tmp
                      let-item="item"
                      let-index="index"
                    >
                      {{ item.nombre }}
                    </ng-template>
                  </ng-select>
                </div>
              </div>
            </div>
            <br />
            <div class="row" style="margin-top: 15px">
              <div class="col-lg-4">
                <label class="form-label">Seccion*:</label>
                <ng-select
                  formControlName="seccion"
                  #selectseccion
                  [searchable]="false"
                  [items]="secciones"
                  bindLabel="claveYNombre"
                  bindValue="id"
                  placeholder="Elegir"
                  [clearable]="false"
                >
                  <ng-template ng-header-tmp>
                    <input
                      class="form-control"
                      type="text"
                      (input)="selectseccion.filter($any($event.target).value)"
                    />
                  </ng-template>
                  <ng-template ng-option-tmp let-item="item" let-index="index">
                    {{ item.claveYNombre }}
                  </ng-template>
                </ng-select>
                <div
                  *ngIf="resultadosForm.get('seccion')?.touched"
                  class="error-message"
                >
                  <div
                    *ngIf="resultadosForm.get('seccion')?.hasError('required')"
                  >
                    La seccion es obligatoria
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <label class="form-label">Casilla*:</label>
                <ng-select
                  placeholder="Elegir"
                  bindLabel="nombre"
                  [items]="casillas"
                  bindLabel="nombre"
                  bindValue="id"
                  [searchable]="false"
                  [clearable]="false"
                  formControlName="casilla"
                >
                  <ng-template ng-option-tmp let-item="item">
                    {{ item.nombre }}
                  </ng-template>
                </ng-select>
                <div
                  *ngIf="resultadosForm.get('casilla')?.touched"
                  class="error-message"
                >
                  <div
                    *ngIf="resultadosForm.get('casilla')?.hasError('required')"
                  >
                    La casilla es obligatorio
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <label class="form-label">Boletas sobrantes*:</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="boletasSobrantes"
                />
                <div
                  *ngIf="resultadosForm.get('boletasSobrantes')?.touched"
                  class="error-message"
                >
                  <div
                    *ngIf="
                      resultadosForm
                        .get('boletasSobrantes')
                        ?.hasError('required')
                    "
                  >
                    Las boletas sobrantes son obligatorias
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-lg-4" style="margin-top: 20px">
                <label class="form-label">2.Personas que votaron*:</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="personasVotaron"
                />
                <div
                  *ngIf="resultadosForm.get('personasVotaron')?.touched"
                  class="error-message"
                >
                  <div
                    *ngIf="
                      resultadosForm
                        .get('personasVotaron')
                        ?.hasError('required')
                    "
                  >
                    Personas que votaron es requerido
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <label class="form-label"
                  >Votos de representantes de partidos*:</label
                >
                <input
                  type="text"
                  class="form-control"
                  formControlName="votosRepresentantes"
                />
                <div
                  *ngIf="resultadosForm.get('votosRepresentantes')?.touched"
                  class="error-message"
                >
                  <div
                    *ngIf="
                      resultadosForm
                        .get('votosRepresentantes')
                        ?.hasError('required')
                    "
                  >
                    Votos de represantes de partidos es requerido
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12" *ngIf="checkValores()">
              <div class="card" style="margin-top: 15px">
                <div class="table-responsive">
                  <table class="table table-vcenter card-table">
                    <thead>
                      <tr>
                        <th
                          style="
                            text-transform: none;
                            font-size: inherit;
                            text-align: center;
                          "
                        >
                          Logo
                        </th>
                        <th
                          style="
                            text-transform: none;
                            font-size: inherit;
                            text-align: center;
                          "
                        >
                          Nombre
                        </th>
                        <th
                          style="
                            text-transform: none;
                            font-size: inherit;
                            text-align: center;
                          "
                        >
                          Total
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let partido of partidosLista">
                        <ng-container>
                          <tr>
                            <td>
                              <div class="d-block mx-auto">
                                <ng-container *ngIf="getLogo(partido)">
                                  <img
                                    [src]="getLogo(partido)?.logoUrl"
                                    alt="Logo de {{ partido }}"
                                    width="50"
                                  />
                                </ng-container>
                              </div>
                            </td>
                            <td>{{ partido }}</td>
                            <td
                              class="col-lg-6 text-center"
                              style="text-transform: none; font-size: inherit"
                            >
                              <input
                                class="col-lg-6 text-center form-control"
                                type="text"
                                (blur)="lista($event, partido)"
                              />
                            </td>
                          </tr>
                        </ng-container>
                      </ng-container>
                      <div style="columns: 2">
                        <div style="column-count: 1">
                          <ul>
                            <ng-container
                              *ngFor="
                                let partido of resultadosForm.get('Votosnulos')
                                  ?.value;
                                let i = index
                              "
                            >
                              <li *ngIf="i % 2 === 0">{{ partido }}</li>
                            </ng-container>
                          </ul>
                        </div>
                        <div style="column-count: 1">
                          <ul>
                            <ng-container
                              *ngFor="
                                let partido of resultadosForm.get('Votosnulos')
                                  ?.value;
                                let i = index
                              "
                            >
                              <li *ngIf="i % 2 !== 0">{{ partido }}</li>
                            </ng-container>
                          </ul>
                        </div>
                      </div>

                      <tr>
                        <td>
                          <img
                            src="assets/images/1.jpg"
                            class="d-block mx-auto"
                            alt=""
                            width="20%"
                          />
                        </td>
                        <td>
                          <label class="form-label text-center"
                            >Candidato NO Registrado</label
                          >
                        </td>
                        <td
                          class="col-lg-4 text-center"
                          style="text-transform: none; font-size: inherit"
                        >
                          <div>
                            <input
                              type="text"
                              class="col-lg-6 text-center form-control"
                              id="casillaValor"
                              formControlName="Candidatonoregistrado"
                              (blur)="actualizarSuma2($event)"
                            />
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <img
                            src="assets/images/2.jpg"
                            class="d-block mx-auto"
                            alt=""
                            width="20%"
                          />
                        </td>
                        <td>
                          <label class="form-label text-center"
                            >Votos Nulos</label
                          >
                        </td>
                        <td
                          class="col-lg-4 text-center"
                          style="text-transform: none; font-size: inherit"
                        >
                          <div>
                            <input
                              type="text"
                              class="col-lg-6 text-center form-control"
                              id="casillaValor"
                              formControlName="Votosnulos"
                              (blur)="actualizarSuma3($event)"
                            />
                          </div>
                        </td>
                      </tr>

                      <td class="rojo-pastel"></td>
                      <td class="rojo-pastel">
                        <label class="form-label">Total</label>
                      </td>
                      <td
                        class="col-lg-4 text-center rojo-pastel"
                        style="text-transform: none; font-size: inherit"
                      >
                        <div *ngIf="visibiliti">
                          <input
                            type="text"
                            class="form-control color text-center"
                            value="{{ sumaDeValores }}"
                            readonly
                            [disabled]="true"
                          />
                        </div>
                      </td>
                    </tbody>
                  </table>
                </div>
                <div class="row justify-content-center d-grid gap-2">
                  <div class="col-lg-2">
                    <!-- Este div ocupa la mitad del ancho del formulario -->
                    <button
                      class="btn btn-primary"
                      type="button"
                      (click)="mostrar()"
                      style="
                        margin-top: 10px;
                        margin-bottom: 10px;
                        width: 134.22222px;
                      "
                    >
                      Sumar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p
          class="form-label"
          style="margin-left: 20px; color: red; font-weight: bold"
        >
          Todos los campos marcados con * son requeridos
        </p>
        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!resultadosForm.valid"
          >
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
