.page-center {
  background-color: #f7db9e;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.col-lg img {
  border: 13px solid #c8a2c8;
  border-radius: 20px;
  box-sizing: border-box;
}
