<app-page-header headerTitle="Nube de palabras"></app-page-header>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-status-"></div>
      <div class="card-header">
        <div class="col-12">
          <form [formGroup]="mapaForm">
            <div class="row">
              <div class="col-lg-6">
                <label class="form-label">Búsqueda por candidato</label>
                <ng-select
                  [readonly]="readonlySelectCandidato"
                  formControlName="candidatoId"
                  #selectCandidato
                  [searchable]="false"
                  [items]="candidato"
                  bindLabel="nombreCompleto"
                  bindValue="id"
                  placeholder="Todos los candidatos"
                  [clearable]="true"
                  (change)="onSelectCandidato($event?.id)"
                  (clear)="onClear()"
                >
                  <ng-template ng-header-tmp>
                    <input
                      class="form-control"
                      type="text"
                      (input)="
                        selectCandidato.filter($any($event.target).value)
                      "
                    />
                  </ng-template>
                  <ng-template ng-option-tmp let-item="item" let-index="index">
                    {{ item.nombreCompleto }}
                  </ng-template>
                </ng-select>
              </div>
              <div class="col-lg-6">
                <label class="form-label">Búsqueda por sección</label>
                <ng-select
                  formControlName="seccion"
                  #selectSeccion
                  [searchable]="false"
                  [items]="seccion"
                  bindLabel="nombre"
                  bindValue="id"
                  placeholder="Todas las secciones"
                  [clearable]="true"
                  (change)="onSelectSeccion($event?.id)"
                  (clear)="onClear()"
                >
                  <ng-template ng-header-tmp>
                    <input
                      class="form-control"
                      type="text"
                      (input)="
                        selectSeccion.filter($any($event.target).value)
                      "
                    />
                  </ng-template>
                  <ng-template ng-option-tmp let-item="item" let-index="index">
                    {{ item.nombre }}
                  </ng-template>
                </ng-select>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="card-body p-0">
        <div id="container"></div>
      </div>
    </div>
  </div>
</div>
