<div class="row justify-content-center">
    <div class="col-lg-4">
        <div class="card shadow-lg rounded">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-5 d-flex align-items-center justify-content-center">
                        <i class="ti ti-user-circle text-muted" style="font-size: 100px"></i>
                    </div>
                    <div class="col-lg-7">
                        <div class="ps-2">
                            <h1>BIENVENID@</h1>
                            <ul style="list-style: none; padding-left: 0;">
                                <li style="display: flex; align-items: center;">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block" style="display: flex; flex-direction: column; align-items: center; margin-right: 10px;">
                                      <i class="ti ti-user-pentagon"></i>
                                  </span>
                                    <h3 class="nav-link-title" style="margin-bottom: 0;">{{ dataObject?.nombreCompleto }}</h3>
                                </li>
                                <hr style="margin-top: 0; margin-bottom: 5px; border: 0; border-top: 1px solid #000;">
                                <li style="display: flex; align-items: center; margin-bottom: 5px;">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block" style="display: flex; flex-direction: column; align-items: center; margin-right: 10px;">
                                      <i class="ti ti-mail"></i>
                                  </span>
                                    <h4 class="nav-link-title" style="margin-bottom: 0;">{{ dataObject?.email }}</h4>
                                </li>
                                <li style="display: flex; align-items: center;">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block" style="display: flex; flex-direction: column; align-items: center; margin-right: 10px;">
                                      <i class="ti ti-id-badge-2"></i>
                                  </span>
                                    <h4 class="nav-link-title" style="margin-bottom: 0;">{{ dataObject?.rol }}</h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<hr>

<div class="row">
    <!-- Primer Beneficio -->
    <div class="col-lg-4">
        <div class="card bg-gradient-to-r from-purple-400 to-purple-600 p-6 rounded-lg shadow-lg h-100 d-flex flex-column">
            <h2 class="text-xl font-semibold mb-4">Registro de beneficiarios</h2>
            <p>Desarrolla un portal en línea fácil de usar para el registro de beneficiarios.</p>
            <p>Proporciona información clara sobre el propósito del programa, los criterios de elegibilidad y los beneficios ofrecidos.</p>
        </div>
    </div>

    <!-- Segundo Beneficio -->
    <div class="col-lg-4">
        <div class="card bg-gradient-to-r from-purple-400 to-purple-600 p-6 rounded-lg shadow-lg h-100 d-flex flex-column">
            <h2 class="text-xl font-semibold mb-4">Registro de evidencias de entrega</h2>
            <p>Implementa un proceso de verificación eficiente para garantizar la elegibilidad.</p>
            <p>Puedes colaborar con instituciones locales para verificar la información proporcionada.</p>
        </div>
    </div>

    <!-- Tercer Beneficio -->
    <div class="col-lg-4">
        <div class="card bg-gradient-to-r from-purple-400 to-purple-600 p-6 rounded-lg shadow-lg h-100 d-flex flex-column">
            <h2 class="text-xl font-semibold mb-4">Historial de actividades</h2>
            <p>Brinda a los beneficiarios la opción de mantener su historial anónima o compartirla públicamente según su preferencia.</p>
            <p>Crea un historial que registre la participación de cada beneficiario en actividades específicas del programa a lo largo del tiempo.</p>
        </div>
    </div>
</div>