<ngx-spinner bdColor="rgba(0,0,0,0.41)" size="large" color="#ffffff" type="ball-scale-multiple" [fullScreen]="true">
    <p style="color: white">Guardando...</p>
</ngx-spinner>

<app-page-header headerTitle="Programas sociales"></app-page-header>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body border-bottom py-3">
                <div class="d-flex align-items-center">
                    <button class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#modal-programa-social" (click)="handleChangeAdd()">
                  <i class="ti ti-plus me-1"></i>Agregar
              </button>
                    <div class="ms-auto d-flex align-items-center">
                        <div class="input-icon">
                                <input #searchItem type="text" class="form-control form-control-rounded" formControlName="busqueda" placeholder="Buscar" (input)="handleChangeSearch($event)" />
                                <span class="input-icon-addon">
                                    <i class="ti ti-search"></i>
                                </span>
                        </div>
                        <a class="btn w-30 btn-icon" aria-label="Dribbble" (click)="exportarDatosAExcel()" title="Descargar excel de programas sociales" style="margin-left: 8px; padding-top: 4px; padding-bottom: 4px;">
                            <i class="ti ti-cloud-down text-muted" style="font-size: 28px;"></i>
                        </a>
                    </div>
                </div>
            </div>

            <ng-container [ngSwitch]="isLoading">
                <div style="height: 300px" *ngSwitchCase="2">
                    <div class="progress">
                        <div class="progress-bar progress-bar-indeterminate bg-green"></div>
                    </div>
                </div>

                <div *ngSwitchCase="3" class="table-responsive">
                    <table class="table table-vcenter card-table">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th style="text-transform: none; font-size: inherit;">Nombre</th>
                                <th style="text-transform: none; font-size: inherit;">Descripción</th>
                                <th style="text-transform: none; font-size: inherit;">Color</th>
                                <th style="text-transform: none; font-size: inherit;">Acrónimo</th>
                                <th style="text-transform: none; font-size: inherit;">Área adscripción</th>
                                <th class="text-center" style="text-transform: none; font-size: inherit;">Estatus</th>
                                <th class="w-1" style="text-transform: none; font-size: inherit;">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="
                  let programa of programasSocialesFilter
                    | paginate : configPaginator;
                  let pointIndex = index
                ">
                                <td class="text-center">
                                    {{ configPaginator.itemsPerPage * (configPaginator.currentPage - 1) + pointIndex + 1 }}
                                </td>
                                <td>{{ programa.nombre }}</td>
                                <td class="text-muted">{{ programa.descripcion }}</td>
                                <td class="text-muted">
                                    <span class="badge" style="height: 20px; width: 20px" [style.backgroundColor]="programa.color">
                  </span>
                                </td>
                                <td class="text-muted">{{ programa.acronimo }}</td>
                                <td class="text-muted">
                                    {{ programa?.areaAdscripcion?.nombre }}
                                </td>
                                <td class="text-center">
                                    <ng-container *ngIf="programa.estatus; else elseEstatus">
                                        <span class="badge bg-success me-1"> </span> Activo
                                    </ng-container>
                                    <ng-template #elseEstatus>
                                        <span class="badge bg-warning me-1"></span> Inactivo
                                    </ng-template>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-between">
                                        <button class="btn btn-warning btn-icon btn-sm" data-bs-toggle="modal" data-bs-target="#modal-programa-social" (click)="setDataModalUpdate(programa)">
                      <i class="ti ti-edit"></i>
                    </button>
                                        <button class="btn btn-danger btn-icon btn-sm" (click)="deleteItem(programa.id, programa.nombre)">
                      <i class="ti ti-eraser"></i>
                    </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <app-no-results *ngSwitchCase="4"></app-no-results>
            </ng-container>
            <!-- Fin *ngSwitchCase-->

            <div class="card-footer d-flex align-items-center">
                <p class="m-0 text-muted">
                    Total de registros: <b>{{ programasSocialesFilter.length }}</b>
                </p>
                <div class="m-0 ms-auto">
                    <pagination-controls (pageChange)="onPageChange($event)" previousLabel="" nextLabel="">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-blur fade" id="modal-programa-social" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {{ isModalAdd ? "Agregar" : "Actualizar" }} programa social
                </h5>
                <button #closebutton type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form [formGroup]="programaSocialForm" (ngSubmit)="submit()">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label class="form-label">Nombre*:</label>
                                <input type="text" class="form-control" formControlName="nombre" />
                                <div *ngIf="programaSocialForm.get('nombre')?.touched" class="error-message">
                                    <div *ngIf="
                      programaSocialForm.get('nombre')?.hasError('required')
                    ">
                                        El nombre es obligatorio
                                    </div>
                                    <div *ngIf="
                      programaSocialForm.get('nombre')?.hasError('minlength')
                    ">
                                        El nombre debe tener al menos 3 caracteres
                                    </div>
                                    <div *ngIf="
                      programaSocialForm.get('nombre')?.hasError('pattern')
                    ">
                                        El nombre no puede tener números mi caracteres especiales
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label class="form-label">Área de adscripción*:</label>
                                <ng-select placeholder="Elegir" [items]="areasAdscripcion" bindLabel="nombre" bindValue="id" [searchable]="false" [clearable]="false" formControlName="areaAdscripcionId">
                                    <ng-template ng-option-tmp let-item="item">
                                        {{ item.nombre }}
                                    </ng-template>
                                </ng-select>
                                <div *ngIf="programaSocialForm.get('areaAdscripcionId')?.touched" class="error-message">
                                    <div *ngIf="
                      programaSocialForm
                        .get('areaAdscripcionId')
                        ?.hasError('required')
                    ">
                                        El area de adscripcion es obligatorio
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label class="form-label">Acrónimo*:</label>
                                <input type="text" class="form-control" formControlName="acronimo" />
                                <div *ngIf="programaSocialForm.get('acronimo')?.touched" class="error-message">
                                    <div *ngIf="
                      programaSocialForm.get('acronimo')?.hasError('required')
                    ">
                                        El acronimo es obligatorio
                                    </div>
                                    <div *ngIf="
                      programaSocialForm.get('acronimo')?.hasError('minlength')
                    ">
                                        El acronimo debe tener al menos 3 caracteres
                                    </div>
                                    <div *ngIf="
                      programaSocialForm.get('acronimo')?.hasError('pattern')
                    ">
                                        El acronimo no puede tener números ni signos
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="form-label">Color*:</label>
                            <input type="color" class="form-control form-control-color" title="Selecciona color" formControlName="color" value="#206bc4" />
                            <div *ngIf="programaSocialForm.get('color')?.touched" class="error-message">
                                <div *ngIf="programaSocialForm.get('color')?.hasError('required')">
                                    El color es obligatorio
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <label>Estatus: </label><br />
                            <div class="form-group">
                                <div class="form-check form-switch mt-1 ml-2 custom-green-switch">
                                    <input class="form-check-input" type="checkbox" (change)="setEstatus()" [(ngModel)]="estatusBtn" name="estatusBtn" formControlName="estatus" [ngStyle]="{'background-color': estatusBtn ? '#1db83f' : '#b2c0b5'}" />
                                    <span class="form-check-label" [ngClass]="
                      programaSocialForm.get('estatus')?.value
                        ? 'text-success'
                        : 'text-danger'
                    ">
                    {{
                      programaSocialForm.get("estatus")?.value
                        ? "Activo"
                        : "Inactivo"
                    }}
                  </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label class="form-label">Descripción:</label>
                                <textarea rows="5" class="form-control" placeholder="" formControlName="descripcion"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="form-label" style="
                    margin-left: 20px;
                    color: red;
                    font-weight: bold;
                ">Todos los campos marcados con * son requeridos</p>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" [disabled]="!programaSocialForm.valid">
            {{ isModalAdd ? "Agregar" : "Actualizar" }}
          </button>
                </div>
            </form>
        </div>
    </div>
</div>