<app-page-header headerTitle="Mapa Total de Beneficiarios por Municipio"></app-page-header>

<div class="row row-deck row-cards">
  <div class="col-md-6 col-lg-4">
    <div class="card">
      <div class="card-header">
        <div class="w-100">
          <div class="input-icon">
            <input
              #searchItem
              type="text"
              class="form-control form-control-rounded"
              placeholder="Buscar"
              (input)="handleChangeSearch($event)"
            />
            <span class="input-icon-addon">
              <i class="ti ti-search"></i>
            </span>
          </div>
        </div>
      </div>

      <ng-container [ngSwitch]="isLoading">
        <div style="height: 300px" *ngSwitchCase="2">
          <div class="progress">
            <div class="progress-bar progress-bar-indeterminate bg-green"></div>
          </div>
        </div>

        <div *ngSwitchCase="3" class="table-responsive">
          <table class="table card-table table-vcenter">
            <thead>
              <tr>
                <th class="text-center">#</th>
                <th>Municipio</th>
                <th class="text-center">Total</th>
                <th>Indicador</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let municipio of totalesPorMunicipioFilter
                    | paginate : configPaginator;
                  let pointIndex = index
                "
              >
                <td class="text-center">
                  {{
                    configPaginator.itemsPerPage *
                      (configPaginator.currentPage - 1) +
                      pointIndex +
                      1
                  }}
                </td>
                <td>{{ municipio.nombre }}</td>
                <td class="text-muted text-center">
                  {{ municipio.totalBeneficiarios }}
                </td>
                <td class="text-muted">
                  <span
                    class="badge me-2"
                    style="height: 12px; width: 12px"
                    [style.backgroundColor]="municipio.color"
                  >
                  </span>
                  {{ municipio.descripcionIndicador }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <app-no-results *ngSwitchCase="4"></app-no-results>
      </ng-container>

      <div class="card-footer d-flex align-items-center">
        <p class="m-0 text-muted">
          Total: <b>{{ totalesPorMunicipioFilter.length }}</b>
        </p>
        <div class="m-0 ms-auto">
          <pagination-controls
            (pageChange)="onPageChange($event)"
            previousLabel=""
            nextLabel=""
          >
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Indicadores por Municipio</h3>
        <highcharts-chart
          [Highcharts]="Highcharts"
          [constructorType]="'mapChart'"
          [options]="chartMap"
          id="baseMap"
          style="width: 100%; height: 500px; display: block"
        >
        </highcharts-chart>
      </div>
    </div>
  </div>
</div>
