<div class="page page-center">
  <div class="container-tight py-4">
    <div class="empty">
      <div class="empty-header">404</div>
      <p class="empty-title">Página no encontrada</p>
      <p class="empty-subtitle text-muted">
        La página que está buscando se movió, eliminó, cambió de nombre o es
        posible que no existe
      </p>
      <div class="empty-action">
        <a [routerLink]="['']" class="btn btn-primary">
          <i class="ti ti-home"></i>
          Inicio
        </a>
      </div>
    </div>
  </div>
</div>
