<app-page-header headerTitle="Mapa de promovidos"></app-page-header>
<div class="row row-deck row-cards">
  <div class="col-12">
    <div class="card">
      <form [formGroup]="mapaForm">
        <div
          class="row"
          style="
            margin-top: 25px;
            margin-bottom: 25px;
            margin-left: 15px;
            margin-right: 15px;">
          <div class="col" *ngIf="visibility">
            <h5 class="page-title mb-3">Candidato</h5>
            <ng-select
            formControlName="candidatoId"
            #selectCandidato
            [searchable]="false"
            [items]="candidatos"
            bindLabel="nombreCompleto"
            [readonly]="readonlySelectCandidato"
            bindValue="id"
            [clearable]="true"
            (change)="filterCandidatos($event?.id)"
            (clear)="onClear()">
            <ng-template ng-header-tmp>
                <input
                    class="form-control"
                    type="text"
                    (input)="selectCandidato.filter($any($event.target).value)" />
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-index="index">
                {{ item.nombreCompleto }}
            </ng-template>
        </ng-select>
        
          </div>
          <div class="col">
            <h5 class="page-title mb-3">Secciones</h5>
            <ng-select
            formControlName="promovidos"
            #selectsecciones
            [searchable]="false"
            [items]="secciones"
            bindLabel="claveYNombre"
            bindValue="id"
            [clearable]="true"
            (change)="filterMarkersBySeccion($event?.id)"
            (clear)="onClear()">
            <ng-template ng-header-tmp>
                <input
                    class="form-control"
                    type="text"
                    (input)="selectsecciones.filter($any($event.target).value)" />
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-index="index">
                {{ item.claveYNombre }}
            </ng-template>
        </ng-select>
        
          </div>
        </div>
      </form>
      <div class="card-body p-0">
        <div
          id="map-canvas"
          class="custom-map"
          style="width: 100%; height: 70vh"
          data-lat="19.34889526616767"
          data-lng="-98.19011296839722"
        ></div>
      </div>
    </div>
  </div>
</div>
